<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade Do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Noticias" href="noticias.xhtml"></b:navLink>
					<b:navLink value="Perfil" href="alterarpessoa.xhtml"></b:navLink>
					<b:navLink value="Historico" href="historico.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#" rendered="false"></b:navLink>
					<b:navLink value="Mensagem" href="#" rendered="false"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>
					
					<b:dropMenu value="Administrador " rendered="#{loginMB.ADM}">
						<b:navLink value="Cadastrar Mensagem" href="#"></b:navLink>
						<b:navLink value="Buscar Pessoa" href="buscarpessoa.xhtml"></b:navLink>
						<b:navLink value="Validar Doação" href="cadastrodoacao.xhtml"></b:navLink>
					</b:dropMenu>
					
					<h:form styleClass="navbar-form">

						<b:commandButton actionListener="#{loginMB.logout}" ajax="true"
							value="Logout" look="success" icon="chevron-right"
							iconAlign="right" />

					</h:form>
				</b:navbarLinks>

			</b:navBar>
		</div>

		<div id="contents">
			<div id="telaCadastro">
				<b:container>


					<h3>Validar Doação</h3>

					<h:form>
						<p:growl id="growl" life="5000" />
						<p:outputLabel value="#{doacaoMB.nomeDoadorCPF}" />
						<p:panelGrid columns="2" styleClass="panelNoBorder">


							<p:outputLabel value="CPF" />

							<p:fieldset>
								<p:inputMask mask="999.999.999-99"
									value="#{doacaoMB.doacaoAux.cpf}" required="true"
									requiredMessage="CPF é Obrigatorio" />
								<b:commandButton actionListener="#{doacaoMB.findDoadorPorCPF}"
									value="Verificar CPF" look="primary" />
							</p:fieldset>

							<p:outputLabel value="Data" rendered="false" />
							<p:calendar id="inline" value="#{doacaoMB.doacaoAux.date}"
								mode="inline" rendered="false" />

							<p:outputLabel for="statusDoacao" value="Doacao" />
							<p:importEnum type="com.comunidade.dao.enums.StatusDoacao"></p:importEnum>

							<p:selectOneMenu id="statusDoacao"
								value="#{doacaoMB.doacaoAux.statusDoacao}" style="width:135px">
								<f:selectItem itemLabel="Selecione Status" itemValue="" />
								<f:selectItems value="#{doacaoMB.statusDoacao}" var="stDoacao"
									itemLabel="#{stDoacao.nome}" itemValue="#{stDoacao.nome}" />
							</p:selectOneMenu>
							
							<p:outputLabel value="Observação" />
							<p:inputTextarea value="#{doacaoMB.doacaoAux.observacao}"/>

							<b:commandButton actionListener="#{doacaoMB.salvar}"
								value="Salvar" update="@form" look="primary" />

							<b:commandButton value="Limpar" look="primary" type="reset" />

						</p:panelGrid>

					</h:form>
					<br />
				</b:container>
			</div>
		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>