<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade Do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body >
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Home" href="index.xhtml"></b:navLink>
					<b:navLink value="Noticias" href="noticias.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>

				</b:navbarLinks>
				
			</b:navBar>
		</div>
		
		<div id="contents">
		 <div id="telaCadastro">
              <b:container>
 

		<h3>Cadastro Doador</h3>
				
			<h:form>
				<p:growl id="growl" life="5000" />
				<p:panelGrid columns="2" styleClass="panelNoBorder">
								
					<p:outputLabel value="Nome" />
					<p:inputText value="#{cadastroDoadorMB.doadorAux.nome}"
						required="true" requiredMessage="Nome é Obrigatorio" maxlength="150" validatorMessage="Digite apenas letras!" >
					<f:validateRegex  pattern="^[a-zA-Z á]*$" />
					</p:inputText>
					
					
					<p:outputLabel value="E-mail" />
					<p:inputText value="#{cadastroDoadorMB.doadorAux.email}"
						required="true" requiredMessage="E-mail é Obrigatorio" maxlength="100" validatorMessage="Esse e-mail não é valido!" >
					<f:validateRegex  pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
					</p:inputText>
					
					<p:outputLabel value="CPF" />
					<p:inputMask mask="999.999.999-99"
						value="#{cadastroDoadorMB.doadorAux.cpf}"
						required="true" requiredMessage="CPF é Obrigatorio" />

					<p:outputLabel for="tipoSangue" value="Tipo do Sangue" />
					<p:importEnum type="com.comunidade.dao.enums.TipoSangue"></p:importEnum>

					<p:selectOneMenu id="tipoSangue"
						value="#{cadastroDoadorMB.doadorAux.tipoSangue}"
						style="width:135px"
						required="true" requiredMessage="Tipo do Sangue é Obrigatorio">
						<f:selectItem itemLabel="Selecione o Tipo" itemValue="" />
						<f:selectItems value="#{cadastroDoadorMB.tipoSangue}" var="tpSangue" itemLabel="#{tpSangue.nome}" itemValue="#{tpSangue.nome}"/>

					</p:selectOneMenu>
					
					<p:outputLabel for="sexo" value="Sexo" />
					<p:importEnum type="com.comunidade.dao.enums.Sexo"></p:importEnum>

					<p:selectOneMenu id="sexo"
						value="#{cadastroDoadorMB.doadorAux.sexo}"
						style="width:135px"
						required="true" requiredMessage="Sexo é Obrigatorio">
						<f:selectItem itemLabel="Selecione Sexo" itemValue="" />
						<f:selectItems value="#{cadastroDoadorMB.sexo}" var="tpSexo" itemLabel="#{tpSexo.nome}" itemValue="#{tpSexo.nome}"/>

					</p:selectOneMenu>

					<p:outputLabel value="Login" />
					<p:inputText value="#{cadastroDoadorMB.doadorAux.login}" 
					required="true" requiredMessage="Login é Obrigatorio" maxlength="75" />

					<p:outputLabel value="Senha " />
					<p:password id="senha"
						value="#{cadastroDoadorMB.doadorAux.senha}" feedback="true" 
						required="true" requiredMessage="Senha é Obrigatorio" maxlength="20"/>
						
					<b:commandButton value="Salvar" actionListener="#{cadastroDoadorMB.salvar}" update="@form" look="primary" />
					
					<b:commandButton value="Limpar" look="primary" type="reset" />
					
				</p:panelGrid>

			</h:form>
			<br />
			







              </b:container>
              <br />
         </div>
	
		</div>
		<div id="footer">
		
				© Comunidadade Sangue Bom 2016
			
		</div>
	</div>
</h:body>
</html>