<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade Do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Noticias" href="#"></b:navLink>
					<b:navLink value="Perfil" href="alterarpessoa.xhtml"></b:navLink>
					<b:navLink value="Historico" href="historico.xhtml"></b:navLink>
					<b:navLink value="Mensagem" href="#"></b:navLink>
					<b:navLink value="Informações" href="#"></b:navLink>

					<b:dropMenu value="Administrador " rendered="#{loginMB.ADM}">
						<b:navLink value="Cadastrar Mensagem" href="#"></b:navLink>
						<b:navLink value="Buscar Pessoa" href="buscarpessoa.xhtml"></b:navLink>
						<b:navLink value="Validar Doação" href="cadastrodoacao.xhtml"></b:navLink>
					</b:dropMenu>

					<h:form styleClass="navbar-form">

						<b:commandButton actionListener="#{loginMB.logout}" ajax="true"
							value="Logout" look="success" icon="chevron-right"
							iconAlign="right" />

					</h:form>
				</b:navbarLinks>

			</b:navBar>
		</div>

		<div id="contents">
			<div id="telaCadastro">
				<b:container>


					<h3>Cadastro Notificação</h3>

					<h:form>
						<p:growl id="growl" life="5000" />

						<p:panelGrid columns="4" styleClass="panelNoBorder">

							<p:outputLabel value="A+" />
							<p:inputSwitch value="#{notificacaoMB.aP}"></p:inputSwitch>

							<p:outputLabel value="A-" />
							<p:inputSwitch value="#{notificacaoMB.aN}"></p:inputSwitch>

							<p:outputLabel value="B+" />
							<p:inputSwitch value="#{notificacaoMB.bP}"></p:inputSwitch>

							<p:outputLabel value="B-" />
							<p:inputSwitch value="#{notificacaoMB.bN}"></p:inputSwitch>

							<p:outputLabel value="AB+" />
							<p:inputSwitch value="#{notificacaoMB.abP}"></p:inputSwitch>

							<p:outputLabel value="AB-" />
							<p:inputSwitch value="#{notificacaoMB.abN}"></p:inputSwitch>

							<p:outputLabel value="O+" />
							<p:inputSwitch value="#{notificacaoMB.oP}"></p:inputSwitch>

							<p:outputLabel value="O-" />
							<p:inputSwitch value="#{notificacaoMB.oN}"></p:inputSwitch>

							<p:outputLabel value="Raro" />
							<p:inputSwitch value="#{notificacaoMB.raro}"></p:inputSwitch>

						</p:panelGrid>
						<p:panelGrid columns="2" styleClass="panelNoBorder">

							<b:commandButton actionListener="#{notificacaoMB.salvar}"
								value="Salvar" update="@form" look="primary" />

							<b:commandButton value="Limpar" look="primary" type="reset" />

						</p:panelGrid>

					</h:form>
					<br />
				</b:container>
			</div>
		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>