
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Home" href="index.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>

				</b:navbarLinks>

				<div id="login">
					<h:form id="logar" styleClass="navbar-form">
						<p:growl id="growl" life="5000" />
						<h:panelGroup rendered="#{!loginMB.logado}">
							<div class="form-group">

								<b:inputText placeholder="Login"
									value="#{loginMB.doadorAux.login}" />
								<b:inputText placeholder="Senha"
									value="#{loginMB.doadorAux.senha}" />

								<b:commandButton look="danger" value="Logar" ajax="true"
									actionListener="#{loginMB.logar}" rendered="true" />
							</div>

						</h:panelGroup>



					</h:form>
				</div>
			</b:navBar>
		</div>

		<div id="contents">
			<div id="cadastro">
				<b:container>
					<b:column col-md="3">
						<h3>27/10/2016</h3>
					</b:column>
					<b:column col-md="9">
						<div
							style="background: #FFFFFF; font-family: Verdana, Arial, Tahoma; font-size: 10pt; border: 1px solid #d9d9d9; width: 450px; margin: 10px auto;">

							<div style="width: auto;">
								<img src="http://i67.tinypic.com/i26jyw.png" border="0" />

							</div>
							<div style="background: #DDD; text-align: center; padding: 3px;">
								<strong>Informativo</strong>
							</div>
							<div style="padding: 10pt;">
								<p>
									Prezado doador(a) <strong>{doador.nome}</strong>
								</p>

								<p>Informamos que nosso banco de sangue esta baixo para seu
									tipo de seu sangue.</p>

								<p>Se estiver disponibilidade para doar agradecemos!</p>

								<p>Doe Sangue, Salve Vidas!</p>

								<p>Recife, {data.mensagem}</p>
							</div>
						</div>

					</b:column>
				</b:container>
			</div>
			<b:container>

				<b:column col-md="3">
					<h3>10/05/2016</h3>
				</b:column>
				<b:column col-md="9">
					
									<div
							style="background: #FFFFFF; font-family: Verdana, Arial, Tahoma; font-size: 10pt; border: 1px solid #d9d9d9; width: 450px; margin: 10px auto;">

							<div style="width: auto;">
								<img src="http://i67.tinypic.com/i26jyw.png" border="0" />

							</div>
							<div style="background: #DDD; text-align: center; padding: 3px;">
								<strong>Informativo</strong>
							</div>
							<div style="padding: 10pt;">
								<p>
									Prezado doador(a) <strong>{doador.nome}</strong>
								</p>

								<p>Informamos que nosso banco de sangue esta baixo para seu
									tipo de seu sangue.</p>

								<p>Se estiver disponibilidade para doar agradecemos!</p>

								<p>Doe Sangue, Salve Vidas!</p>

								<p>Recife, {data.mensagem}</p>
							</div>
						</div>

				</b:column>
			
			</b:container>
		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>