
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Noticias" href="#"></b:navLink>
					<b:navLink value="Perfil" href="alterarpessoa.xhtml"></b:navLink>
					<b:navLink value="Mensagem" href="#"></b:navLink>
					<b:navLink value="Informações" href="#"></b:navLink>

					<b:dropMenu value="Administrador " rendered="#{loginMB.ADM}">
						<b:navLink value="Cadastrar Mensagem" href="#"></b:navLink>
						<b:navLink value="Buscar Pessoa" href="buscarpessoa.xhtml"></b:navLink>
						<b:navLink value="Validar Doação" href="cadastrodoacao.xhtml"></b:navLink>
					</b:dropMenu>

					<h:form styleClass="navbar-form">

						<b:commandButton actionListener="#{loginMB.logout}" ajax="true"
							value="Logout" look="success" icon="chevron-right"
							iconAlign="right" />

					</h:form>
				</b:navbarLinks>


			</b:navBar>
		</div>

		<div id="contents">
			<h:form>
				<div id="cadastro">
					<b:container>
						<h2>Histórico Doação</h2>
						<p>Escolha o Intervalo de Tempo das Doações</p>
						<p:panelGrid columns="4">
						 Inicial<p:calendar id="inline" value="#{historicoMB.inicio}"
								mode="inline" rendered="true" />
								
								Final<p:calendar id="inline2" value="#{historicoMB.fim}"
								mode="inline" rendered="true" />
						</p:panelGrid>
					</b:container>
				</div>

				<b:container>

					<b:column col-md="12">
						<h:dataTable value="#{historicoMB.allDoacoes}" var="doacaes"
							styleClass="table">
							<h:column>
								<f:facet name="header">Status</f:facet>
								<h:outputText value="#{doacaes.statusDoacao}" />
							</h:column>
							<h:column>
								<f:facet name="header">Data</f:facet>
								<h:outputText
									value='#{doacaes.date.date}/#{doacaes.date.month+1}/#{doacaes.date.year + 1900} - 
								#{doacaes.date.hours}:#{doacaes.date.minutes}:#{doacaes.date.seconds} ' />

							</h:column>

							<p:column>
								<f:facet name="header">Observação</f:facet>
								<h:outputText value="#{doacaes.observacao}" />
							</p:column>

							<h:column rendered="false">
								<h:commandButton value="Alterar" styleClass="btn btn-danger" />
							</h:column>
							<h:column rendered="false">
								<h:commandButton value="Excluir" styleClass="btn btn-danger" />
							</h:column>
						</h:dataTable>

					</b:column>

					<p>
						<b:commandButton actionListener="#{historicoMB.findAllMyDoacoes}"
							look="primary" value="Consulta >" ajax="true" update="@form" />
					</p>

				</b:container>
			</h:form>
		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>