
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar" brand="Home" brandhref="Novatela.xhtml">
				<b:navbarLinks>
					<b:navLink value="Noticias" href="noticias.xhtml"></b:navLink>
					<b:navLink value="Perfil" href="alterarpessoa.xhtml"></b:navLink>
					<b:navLink value="Historico" href="historico.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#" rendered="false"></b:navLink>
					<b:navLink value="Mensagem" href="#" rendered="false"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>
					
					<b:dropMenu value="Administrador " rendered="#{loginMB.ADM}">
						<b:navLink value="Cadastrar Mensagem" href="#"></b:navLink>
						<b:navLink value="Buscar Pessoa" href="buscarpessoa.xhtml"></b:navLink>
						<b:navLink value="Validar Doação" href="cadastrodoacao.xhtml"></b:navLink>
					</b:dropMenu>
					
					<h:form styleClass="navbar-form">
						<b:commandButton actionListener="#{loginMB.logout}" ajax="true"
							value="Logout" look="success" icon="chevron-right"
							iconAlign="right" />

					</h:form>
				</b:navbarLinks>


			</b:navBar>
		</div>

		<div id="contents">
			<div id="cadastro">
				<b:container>
					<h2>Histórico Doação</h2>

				</b:container>
			</div>
			<h:form styleClass="navbar-form">
				<b:container>
					<h:form>
						<b:column col-md="12">
							<h:dataTable value="#{historicoMB.myDoacoes}" var="doacaes"
								styleClass="table">
								<h:column>
									<f:facet name="header">Status</f:facet>
									<h:outputText value="#{doacaes.statusDoacao}" />
								</h:column>
								<h:column>
									<f:facet name="header">Data</f:facet>
									<h:outputText
										value='#{doacaes.date.date}/#{doacaes.date.month+1}/#{doacaes.date.year + 1900} - 
								#{doacaes.date.hours}:#{doacaes.date.minutes}:#{doacaes.date.seconds} ' />
								</h:column>

								<p:column>
									<f:facet name="header">Observação</f:facet>
									<h:outputText value="#{doacaes.observacao}" />
								</p:column>

							</h:dataTable>

						</b:column>

						<p>
							<b:commandButton actionListener="#{historicoMB.findMyDoacoes}"
								look="primary" value="Consulta >" ajax="true" update="@form" />
						</p>
					</h:form>
				</b:container>
			</h:form>

		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>