
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar" >
				<b:navbarLinks>
					<b:navLink value="Noticias" href="#"></b:navLink>
					<b:navLink value="Perfil" href="alterarpessoa.xhtml"></b:navLink>
					<b:navLink value="Mensagem" href="#"></b:navLink>
					<b:navLink value="Ajuda" href="#"></b:navLink>
					<h:form styleClass="navbar-form">
						<b:commandButton actionListener="#{loginMB.logout}" ajax="true"
							value="Logout" look="success" icon="chevron-right"
							iconAlign="right" />

					</h:form>
				</b:navbarLinks>


			</b:navBar>
		</div>

		<div id="contents">
			<h:form>
				<div id="cadastro">
					<b:container>
						<h2>Histórico Doação</h2>
						<p>Você pode doar apartir de :</p>
						<p>Para você ficar ativo tem que doar até :</p>

					</b:container>
				</div>

				<b:container>

					<b:column col-md="12">
						<h:dataTable value="#{cadastroDoadorMB.doadores}" var="doador"
							styleClass="table">
							<h:column>
								<f:facet name="header">Nome</f:facet>
								<h:outputText value="#{doador.nome}" />
							</h:column>
							<h:column>
								<f:facet name="header">CPF</f:facet>
								<h:outputText value="#{doador.cpf}" />
							</h:column>

							<p:column>
								<f:facet name="header">Login</f:facet>
								<h:outputText value="#{doador.login}" />
							</p:column>

							<p:column>
								<f:facet name="header">Senha</f:facet>
								<h:outputText value="#{doador.senha}" />
							</p:column>

							<h:column>
								<h:commandButton value="Alterar" styleClass="btn btn-danger" />
							</h:column>
							<h:column>
								<h:commandButton value="Excluir" styleClass="btn btn-danger" />
							</h:column>
						</h:dataTable>

					</b:column>

					<p>
						<b:commandButton look="primary" value="Consulta >" ajax="true"
							 update="@form" />
					</p>

				</b:container>
			</h:form>
		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>