
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Noticias" href="noticias.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#" rendered="false"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>
					<b:navLink value="Principal" href="logado.xhtml" rendered="#{loginMB.logado}"></b:navLink>

				</b:navbarLinks>
				
			<div id="login">
				<h:form id="logar" styleClass="navbar-form">
					<p:growl id="growl" life="5000" />
					<h:panelGroup rendered="#{!loginMB.logado}">
						<div class="form-group">

								<b:inputText placeholder="Login"
									value="#{loginMB.doadorAux.login}" />

								<b:inputSecret placeholder="Senha" id="password"
									value="#{loginMB.doadorAux.senha}" autocomplete="false">
								</b:inputSecret>

								<b:commandButton look="danger" value="Logar" ajax="true"
									actionListener="#{loginMB.logar}" rendered="true" />
									<BR />
									<a href="recuperarsenha.xhtml">Esqueci minha Senha.</a>
						</div>

					</h:panelGroup>
					
					<h:panelGroup rendered="#{loginMB.logado}">
			       		<b:commandButton actionListener="#{loginMB.logout}" ajax="true" value="Logout" look="success" icon="chevron-right" iconAlign="right" style="float:right"/>
					</h:panelGroup>
			
				</h:form>
			</div>
			</b:navBar>
		</div>
		
		<div id="contents">
			<div id="cadastro">
				<b:container>
					<h2>Venha fazer parte dessa Comunidade.</h2>
					<p>Compartilhe mais do que fotos e videos, compartilhe vida.</p>
					<p>
						<a href="cadastropessoa.xhtml" class="btn btn-lg btn-info">Cadastre-se
							»</a>
					</p>
				</b:container>
			</div>
			<b:container>

				<b:column col-md="6">
				<br />
				<h:graphicImage library="noticia" name="teste5.jpg" style=" top: 20px; left: 0px;width: 400px; height: 250px;"></h:graphicImage>
				
					<h2>Hemope lança campanha para jovens doar sangue</h2>
					<p>Alunos da Escola Estadual Dom Bosco, em Casa Amarela, na
						Zona Norte do Recife, foram os primeiros a receber a visita de uma
						campanha que busca incluir na vida dos jovens o hábito de doar
						sangue. A iniciativa foi lançada ontem pela Fundação de
						Hematologia e Hemoterapia de Pernambuco (Hemope) na instituição de
						ensino. Além de estimular a participação, o trabalho tem como
						objetivo desmistificar concepções erradas sobre a doação.</p>
					<p>
						<b:button outcome="noticias0005.xhtml" value="Ver detalhes »" />
					</p>
				</b:column>
				<b:column col-md="6">
				<br />
				<h:graphicImage library="noticia" name="teste6.jpg"  style="top: 20px; left: 0px;width: 400px; height: 250px;"></h:graphicImage>
				
					<h2>Uber oferece corridas de graça para quem for doar sangue</h2>
					<p>O serviço de transporte alternativo Uber anunciou que todos
						os usuários do aplicativo que desejarem doar sangue vão ganhar
						viagens gratuitas até a Fundação de Hematologia e Hemoterapia de
						Pernambuco (Hemope), que fica no bairro das Graças, Zona Norte do
						Recife. A promoção é válida a partir desta segunda-feira (29) e
						segue até o próximo sábado (3).</p>
					<p>
						<b:button outcome="noticias0006.xhtml" value="Ver detalhes »" />
					</p>
				</b:column>



			</b:container>

		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>