
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Home" href="index.xhtml" rendered="#{!loginMB.logado}"></b:navLink>
					<b:navLink value="Principal" href="logado.xhtml" rendered="#{loginMB.logado}"></b:navLink>
					<b:navLink value="Noticias" href="noticias.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#"></b:navLink>

				</b:navbarLinks>

				<div id="login">
					<h:form id="logar" styleClass="navbar-form">
						<p:growl id="growl" life="5000" />
						<h:panelGroup rendered="#{!loginMB.logado}">
							<div class="form-group">

								<b:inputText placeholder="Login"
									value="#{loginMB.doadorAux.login}" />
								<b:inputText placeholder="Senha"
									value="#{loginMB.doadorAux.senha}" />

								<b:commandButton look="danger" value="Logar" ajax="true"
									actionListener="#{loginMB.logar}" rendered="true" />
							</div>

						</h:panelGroup>



					</h:form>
				</div>
			</b:navBar>
		</div>

		<div id="contents">

			<div id="header" title="sitename">
				<h:graphicImage id="banner2" library="imagens" name="etapas.png"></h:graphicImage>
			</div>


			<b:container>

				<b:column col-md="12">
					<h4>Identificação</h4>
					<p>É obrigatória em todas as doações a apresentação de um
						documento oficial do Brasil, com foto.</p>
					<br />
					<h4>Idade</h4>
					<p>O doador deve ter, no mínimo, 16 anos completos e no máximo
						69 anos. Para os doadores menores de 18 anos é necessário a
						presença e o acompanhamento de um dos pais ou responsável legal,
						durante o processo de doação. Caso o doador opte por realizar a
						sua primeira doação após os 60 anos, será necessária uma avaliação
						e aprovação prévia do seu médico acompanhante.</p>
					<br />
					<h4>Peso</h4>
					<p>O doador deve pesar no mínimo 50 kg.</p>
					<br />
					<h4>Pulso</h4>
					<p>Características normais, com frequência entre 60 e 100 bpm.</p>
					<br />
					<h4>Menstruação</h4>
					<p>Não contra-indica a doação. As mulheres que apresentarem
						sangramentos menstruais anormais serão avaliadas pelos triagistas
						e só serão liberadas se tiverem condições para tal.</p>
					<br />
					<h4>Alimentação</h4>
					<p>O doador não deve doar em jejum, nem após uma alimentação
						copiosa (gordurosa). Deve fazer uma refeição leve antes da doação.
						Não pode doar quem estiver em jejum prolongado (mais de 12 horas).</p>
					<br />
					<h4>Saúde</h4>
					<p>É importante que o doador esteja se sentindo bem e que não
						esteja doente.</p>
					<br />
					<h4>Atividades</h4>
					<p>O candidato que for piloto de avião ou helicóptero,
						motorista de carretas ou ônibus, trabalhar em andaimes ou praticar
						paraquedismo ou mergulho e não puder interromper, por pelo menos
						12 horas, as suas atividades, não pode doar sangue.</p>
					<br />

					<p>Qualquer critério para a doação pode ser alterado pelo
						triagista, a quem cabe, de acordo com a análise do candidato à
						doação, a autorização final.</p>

					<p>Para agendar sua doação, ligue 0800-081-1535.</p>

				</b:column>


			</b:container>

		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>