
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks rendered="#{loginMB.redirecionar}">
					<b:navLink value="Noticias" href="noticias.xhtml"></b:navLink>
					<b:navLink value="Perfil" href="alterarpessoa.xhtml"></b:navLink>
					<b:navLink value="Historico" href="historico.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#" rendered="false"></b:navLink>
					<b:navLink value="Mensagem" href="#" rendered="false"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>

					<b:dropMenu value="Administrador " rendered="#{loginMB.ADM}">
						<b:navLink value="Cadastrar Notificação"
							href="cadastronotificacao.xhtml"></b:navLink>
						<b:navLink value="Buscar Pessoa" href="buscarpessoa.xhtml"></b:navLink>
						<b:navLink value="Validar Doação" href="cadastrodoacao.xhtml"></b:navLink>
					</b:dropMenu>
					<h:form styleClass="navbar-form">

						<b:commandButton actionListener="#{loginMB.logout}" ajax="true"
							value="Logout" look="success" icon="chevron-right"
							iconAlign="right" style="float:right" />

					</h:form>
				</b:navbarLinks>

			</b:navBar>
		</div>

		<div id="contents">
			<div >
				<b:container>
					<h3>
						Bem vindo
						<h:outputLabel value="#{loginMB.doador.nome}" />, a nossa Comunidade!
					
					</h3>
					<h4>
															
					<p>Que também é sua Comunidade! </p>
					
					<p>Esperamos recepcioná-lo muito bem, fique a vontade!</p>
					
					</h4>
					<br />
					<br />
					<h4>Sua proxima doação será apartir :
					<strong><h:outputText	value='#{loginMB.doador.proxDoacao.date}/#{loginMB.doador.proxDoacao.month+1}/#{loginMB.doador.proxDoacao.year + 1900}' />
					</strong>
					 </h4>

				</b:container>
			</div>

		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>