
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Sistema Integrado de Educação a Distância</title>
	<meta name="author" content="Comunidade"></meta>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body >
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar" brand="Home" brandhref="Novatela.xhtml">
				<b:navbarLinks>
					<b:navLink value="Noticias" href="noticias.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#" rendered="false"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>
					

				</b:navbarLinks>
				
			</b:navBar>
		</div>
		
		<div id="contents">
		 <div id="telaLogin" style="padding-top: 50px; padding-bottom: 20px;">
              <b:container>
                  

<h:form id="loginForm">
  <b:container>
  <p:growl id="growl" life="5000" />
   <h:panelGroup rendered="#{!loginMB.logado}">
      <b:row>
        <b:column medium-screen="2">
          <h:outputText value="Usuario:" for="username" />
        </b:column>
        <b:column medium-screen="4">
          <b:inputText placeholder="Usuario" id="username" value="#{loginMB.doadorAux.login}"
                       autocomplete="false">
            <f:facet name="prepend">
              <b:icon name="user" />
            </f:facet>
          </b:inputText>
        </b:column>
        <b:column medium-screen="6" style-class="message">
          <b:message for="username" />
        </b:column>
      </b:row>
      <b:row>
        <b:column medium-screen="2">
          <h:outputText value="Senha:" />
        </b:column>
        <b:column medium-screen="4">
          <b:inputSecret placeholder="Senha" id="password" value="#{loginMB.doadorAux.senha}"
                          autocomplete="false">
            <f:facet name="prepend">
              <b:iconAwesome name="key" />
            </f:facet>
          </b:inputSecret>
        </b:column>
        <b:column medium-screen="6" styleClass="message">
          <b:message for="password" />
        </b:column>
      </b:row>
      <b:row>
        <b:column span="2" offset="2">
          <b:commandButton value="logar" actionListener="#{loginMB.logar}" update="@form" look="primary"
            style="width:100%" />
        </b:column>
        <b:column span="2">
          <b:commandButton value="Lembrar Senha"  update="@form"
            look="danger" style="width:100%" />
        </b:column>
      </b:row>
	</h:panelGroup>
  </b:container>
</h:form>


              </b:container>
              <br />
         </div>
	
		</div>
		<div id="footer">
		
				© Comunidadade Sangue Bom 2016
			
		</div>
	</div>
</h:body>
</html>