
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Home" href="index.xhtml" rendered="#{!loginMB.logado}"></b:navLink>
					<b:navLink value="Principal" href="logado.xhtml" rendered="#{loginMB.logado}"></b:navLink>
					<b:navLink value="Noticias" href="noticias.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>

				</b:navbarLinks>

				<div id="login">
					<h:form id="logar" styleClass="navbar-form">
						<p:growl id="growl" life="5000" />
						<h:panelGroup rendered="#{!loginMB.logado}">
							<div class="form-group">

								<b:inputText placeholder="Login"
									value="#{loginMB.doadorAux.login}" />
								<b:inputText placeholder="Senha"
									value="#{loginMB.doadorAux.senha}" />

								<b:commandButton look="danger" value="Logar" ajax="true"
									actionListener="#{loginMB.logar}" rendered="true" />
							</div>

						</h:panelGroup>



					</h:form>
				</div>
			</b:navBar>
		</div>

		<div id="contents">

			<b:container>
				<b:column col-md="3">
				</b:column>
				<b:column col-md="7">
					<h4>DIA MUNDIAL DO DOADOR DE MEDULA ÓSSEA</h4>
				</b:column>
				<b:column col-md="2">
				</b:column>
				<b:column col-md="3">
				</b:column>
				<b:column col-md="6">
					<h:graphicImage library="noticia" name="teste3.png"
						style="top: 20px; left: 0px;width: 400px; height: 300px;"></h:graphicImage>
				</b:column>
				<b:column col-md="3">
				</b:column>

				<b:column col-md="12">
					<br />
					<p>Todo ano, no terceiro sábado do mês de setembro, é celebrado
						o Dia Mundial do Doador de Medula Óssea. A data, que foi criada
						pela empresa World Marrow Donor Association (WMDA), tem como
						objetivo conscientizar a população para a importância da doação
						voluntária de medula óssea e a valorização do doador.</p>
					<p>Neste ano, a data será comemorada no próximo sábado, 17 de
						setembro, mas as festividades acontecem durante todo o mês de
						setembro. No Hemope, o Dia Mundial é festejado com o aumento do
						número de doadores cadastrados, que este ano cresceu 9,8% em
						relação ao ano anterior. Isto é, 1,8% a mais do que a meta
						atingida pelo Brasil, que foi de 8%, de acordo com o cadastro
						nacional.</p>
					<p>A Fundação Hemope também participará, em parceria com a
						Central de Transplantes da Secretaria Estadual de Saúde - SES, de
						um evento que ocorrerá no Hospital Português do Recife, além de
						outras campanhas.</p>
					<p>De acordo com os registros da WMDA, já existem cerca de 28
						milhões de doadores de medula em todo o mundo. Através do REDOME,
						as solicitações são conectadas mundialmente e o cadastrado pode
						ser chamado para fazer a doação para um paciente em qualquer lugar
						do Brasil ou do mundo.</p>
					<p>Segundo o REDOME, no ano de 2015, foram enviadas 50 unidades
						para transplantes no exterior e foram recebidas 132 unidades do
						exterior para realização de transplantes no Brasil. “No Brasil
						existem 4.109.762 doadores cadastrados, em Pernambuco contamos com
						112.660. Se compararmos os anos de 2015 e 2016, foi observado que
						o cadastro nacional cresceu em torno de 8%, enquanto em Pernambuco
						o crescimento foi de 9,8% em relação ao ano anterior. Considerando
						os dados nesse mesmo período, até setembro/2015 havia cerca de 3,8
						milhões doadores, já em setembro/2016 tinham cerca de 4 milhões”,
						comemora Josiete Tavares, supervisora da Secretaria de
						Doador/Redome do Hemope.</p>
				</b:column>

			</b:container>
		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>