
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Home" href="index.xhtml" rendered="#{!loginMB.logado}"></b:navLink>
					<b:navLink value="Principal" href="logado.xhtml" rendered="#{loginMB.logado}"></b:navLink>
					<b:navLink value="Noticias" href="noticias.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>

				</b:navbarLinks>
				
			<div id="login">
				<h:form id="logar" styleClass="navbar-form">
					<p:growl id="growl" life="5000" />
					<h:panelGroup rendered="#{!loginMB.logado}">
						<div class="form-group">

							<b:inputText placeholder="Login" value="#{loginMB.doadorAux.login}" />
							<b:inputText placeholder="Senha" value="#{loginMB.doadorAux.senha}" />
							
							<b:commandButton look="danger" value="Logar" ajax="true" actionListener="#{loginMB.logar}"  rendered="true"  />
						</div>

					</h:panelGroup>

					

				</h:form>
			</div>
			</b:navBar>
		</div>
		
		<div id="contents">
			
			<b:container>
				<b:column col-md="1">
				</b:column>
				<b:column col-md="10">
				<h4>PALESTRA ABORDA GESTÃO DA EMOÇÃO NO AMBIENTE DE TRABALHO</h4>
				</b:column>
				<b:column col-md="1">
				</b:column>
				<b:column col-md="3">
				</b:column>
				<b:column col-md="6">
				<h:graphicImage  library="noticia" name="teste1.jpg" style="top: 20px; left: 0px;width: 400px; height: 300px;" ></h:graphicImage>
				</b:column>
				<b:column col-md="3">
				</b:column>
								
				<b:column col-md="12" >
				<br />	
<p>	Karla Júlia Marcelino esteve no Hemope nesta última sexta-feira (26/08), para participar da Reunião Técnico-Científica. Nesta edição, a palestrante da Secretaria de Relações Institucionais do Governo do Estado, veio falar da Gestão da Emoção. O foco principal do tema é minimizar o desgaste do servidor no ambiente de trabalho. O evento foi promovido pela Ouvidoria do Hemope em parceria com a Gerência Gestão de Pessoas (GGP).</p>
<p>	Este é um tema novo que está sendo trabalhado pelo estado, segundo a palestrante. De acordo com ela, as relações interpessoais são as que mais causam atritos e doenças emocionais aos servidores, pois é na diferença que acontecem as adversidades, colocando em teste, questões como nível de tolerância. Ela ainda sugeriu a mudança de comportamento e o uso de técnicas referidas no livro Gestão da Emoção, do escritor Augusto Cure.</p>
<p>	Karla destacou que este tema é muito importante para o conhecimento de todos os setores do estado, por ser um tema universal “O Hemope tem um papel importantíssimo com essa iniciativa, pois está mostrando à necessidade de se trabalhar a questão da emoção na instituição. Todos aqui estão de parabéns!”, disse. “Todo investimento emocional é um investimento para a vida inteira e de grande importância para a organização” completou.</p>
<p>	Durante a palestra, ela realizou um exercício que apontava a posição que o profissional precisa ter ao saber reconhecer uma virtude do colega. Para exemplificar, Fátima Carvalho, assistente social, homenageou a colega do mesmo setor, Kátia Bennvindo, reconhecendo a solidariedade como uma de suas qualidades.</p>
<p>	Fátima Patu, ouvidora do Hemope, informou que a Ouvidoria se dispõe a realizar outro encontro sob o mesmo tema, pois devido à complexidade do tema não foi possível exaurir toda a temática numa só palestra.</p>
					
				</b:column>
				
			</b:container>
		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>