
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Home" href="index.xhtml" rendered="#{!loginMB.logado}"></b:navLink>
					<b:navLink value="Principal" href="logado.xhtml" rendered="#{loginMB.logado}"></b:navLink>
					<b:navLink value="Noticias" href="noticias.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>

				</b:navbarLinks>

				<div id="login">
					<h:form id="logar" styleClass="navbar-form">
						<p:growl id="growl" life="5000" />
						<h:panelGroup rendered="#{!loginMB.logado}">
							<div class="form-group">

								<b:inputText placeholder="Login"
									value="#{loginMB.doadorAux.login}" />
								<b:inputText placeholder="Senha"
									value="#{loginMB.doadorAux.senha}" />

								<b:commandButton look="danger" value="Logar" ajax="true"
									actionListener="#{loginMB.logar}" rendered="true" />
							</div>

						</h:panelGroup>



					</h:form>
				</div>
			</b:navBar>
		</div>

		<div id="contents">

			<b:container>
				<b:column col-md="2">
				</b:column>
				<b:column col-md="8">
					<h4>Uber oferece corridas de graça para quem for doar sangue</h4>
				</b:column>
				<b:column col-md="2">
				</b:column>
				<b:column col-md="3">
				</b:column>
				<b:column col-md="6">
					<h:graphicImage library="noticia" name="teste6.jpg"
						style="top: 20px; left: 0px;width: 400px; height: 300px;"></h:graphicImage>
				</b:column>
				<b:column col-md="3">
				</b:column>

				<b:column col-md="12">
					<br />
					<p>O serviço de transporte alternativo Uber anunciou que todos
						os usuários do aplicativo que desejarem doar sangue vão ganhar
						viagens gratuitas até a Fundação de Hematologia e Hemoterapia de
						Pernambuco (Hemope), que fica no bairro das Graças, Zona Norte do
						Recife. A promoção é válida a partir desta segunda-feira (29) e
						segue até o próximo sábado (3).</p>
					<p>Para participar, o usuário deve abrir o aplicativo e, no
						menu, acessar a aba de promoções e inserir o código DOARECIFE. A
						ação é valida das 8h às 18h, para viagens iniciadas e terminadas
						no Hemope. Cada participante terá direito a uma corrida grátis até
						o local de doação e outra de volta, também sem custos. A ação será
						replicada nas cidades de Fortaleza, Salvador e Natal.</p>
					<p>Podem doar sangue pessoas com idade entre 16 e 69 anos, com
						mais de 50 quilos, saudáveis e sem antecedentes de risco para
						transmissão de doenças como hepatites e Aids. É obrigatória a
						apresentação de um documento oficial com foto, estar descansado e
						alimentado. O aplicativo Uber está disponível gratuitamente para
						as plataformas Android e iOS.</p>

				</b:column>

			</b:container>
		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>