
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Home" href="index.xhtml" rendered="#{!loginMB.logado}"></b:navLink>
					<b:navLink value="Principal" href="logado.xhtml" rendered="#{loginMB.logado}"></b:navLink>
					<b:navLink value="Campanhas" href="#" rendered="false"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>

				</b:navbarLinks>
				
			<div id="login">
				<h:form id="logar" styleClass="navbar-form">
					<p:growl id="growl" life="5000" />
					<h:panelGroup rendered="#{!loginMB.logado}">
						<div class="form-group">

							<b:inputText placeholder="Login" value="#{loginMB.doadorAux.login}" />
							<b:inputText placeholder="Senha" value="#{loginMB.doadorAux.senha}" />
							
							<b:commandButton look="danger" value="Logar" ajax="true" actionListener="#{loginMB.logar}"  rendered="true"  />
						</div>

					</h:panelGroup>

					

				</h:form>
			</div>
			</b:navBar>
		</div>
		
		<div id="contents">
			<div id="cadastro">
				<b:container>
					<b:column col-md="3">
								<h:graphicImage library="noticia" name="teste1.jpg" style="position: absolute; top: 20px; left: 0px;width: 200px; height: 150px;"></h:graphicImage>
				
				</b:column>
				<b:column col-md="9">
					<h3>PALESTRA ABORDA GESTÃO DA EMOÇÃO NO AMBIENTE DE TRABALHO</h3>
					<p>Karla Júlia Marcelino esteve no Hemope nesta última sexta-feira (26/08), para participar da Reunião Técnico-Científica. Nesta edição, a palestrante da Secretaria de Relações Institucionais do Governo do Estado, veio falar da Gestão da Emoção.</p>
					<p>
						<b:button outcome="noticias0001.xhtml" value="Ver detalhes »" />
					</p>
				</b:column>
				</b:container>
			</div>
			<b:container>

				<b:column col-md="3">
								<h:graphicImage library="noticia" name="teste2.jpg" style="position: absolute; top: 20px; left: 0px;width: 200px; height: 150px;"></h:graphicImage>
				
				</b:column>
				<b:column col-md="9">
					<h3>HEMOPE FAZ TREINAMENTO SOBRE O NOVO SISTEMA DIGITAL DA JUNTA MÉDICA DO ESTADO</h3>
					<p>A Fundação Hemope, através da Gerência de Gestão de Pessoas (GGP), por meio da Supervisão de Assistência Funcional (SAF), promoveu, na última segunda-feira (12), no auditório Luiz Gonzaga dos Santos, localizado no Hemocentro Recife, um treinamento para os servidores da instituição sobre as mudanças promovidas...</p>
					<p>
						<b:button outcome="noticias0002.xhtml" value="Ver detalhes »" />
					</p>
				</b:column>



			</b:container>
			
			<div id="cadastro">
				<b:container>
					<b:column col-md="3">
								<h:graphicImage library="noticia" name="teste3.png" style="position: absolute; top: 20px; left: 0px;width: 200px; height: 150px;"></h:graphicImage>
				
				</b:column>
				<b:column col-md="9">
					<h3>Dia Mundial do Doador  de Medula Óssea</h3>
					<p> Hemope comemora o Dia Mundial do Doador
de Medula Óssea com aumento de 9,8% o número de doadores cadastrados. Isto é, 1,8% a mais do que a meta atingida pelo Brasil, que foi de 8%, de acordo com o cadastro nacional.</p>
					<p>
						<b:button outcome="noticias0003.xhtml" value="Ver detalhes »" />
					</p>
				</b:column>
				</b:container>
			</div>
			<b:container>

				<b:column col-md="3">
								<h:graphicImage library="noticia" name="teste4.jpg" style="position: absolute; top: 20px; left: 0px;width: 200px; height: 150px;"></h:graphicImage>
				
				</b:column>
				<b:column col-md="9">
					<h3>HEMOPE DIVULGA CARTILHA DA PGE SOBRE ELEIÇÕES 2016</h3>
					<p>A Fundação Hemope, através de sua Gerência de Gestão de Pessoas (GGP), informa que a Procuradoria Geral de Pernambuco (PGE-PE) lançou uma Cartilha sobre as Eleições 2016, no qual reúne informações a respeito das condutas vedadas a quem trabalha no serviço público durante o período eleitoral.</p>
					<p>
						<b:button outcome="noticias0004.xhtml" value="Ver detalhes »" />
					</p>
				</b:column>



			</b:container>
			
		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>