
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Home" href="index.xhtml" rendered="#{!loginMB.logado}"></b:navLink>
					<b:navLink value="Principal" href="logado.xhtml" rendered="#{loginMB.logado}"></b:navLink>
					<b:navLink value="Noticias" href="noticias.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>

				</b:navbarLinks>

				<div id="login">
					<h:form id="logar" styleClass="navbar-form">
						<p:growl id="growl" life="5000" />
						<h:panelGroup rendered="#{!loginMB.logado}">
							<div class="form-group">

								<b:inputText placeholder="Login"
									value="#{loginMB.doadorAux.login}" />
								<b:inputText placeholder="Senha"
									value="#{loginMB.doadorAux.senha}" />

								<b:commandButton look="danger" value="Logar" ajax="true"
									actionListener="#{loginMB.logar}" rendered="true" />
							</div>

						</h:panelGroup>



					</h:form>
				</div>
			</b:navBar>
		</div>

		<div id="contents">

			<b:container>
				<b:column col-md="1">
				</b:column>
				<b:column col-md="10">
					<h4>HEMOPE FAZ TREINAMENTO SOBRE O NOVO SISTEMA DIGITAL DA
						JUNTA MÉDICA DO ESTADO</h4>
				</b:column>
				<b:column col-md="1">
				</b:column>
				<b:column col-md="3">
				</b:column>
				<b:column col-md="6">
					<h:graphicImage library="noticia" name="teste2.jpg"
						style="top: 20px; left: 0px;width: 400px; height: 300px;"></h:graphicImage>
				</b:column>
				<b:column col-md="3">
				</b:column>

				<b:column col-md="12">
					<br />
					<p>A Fundação Hemope, através da Gerência de Gestão de Pessoas
						(GGP), por meio da Supervisão de Assistência Funcional (SAF),
						promoveu, na última segunda-feira (12), no auditório Luiz Gonzaga
						dos Santos, localizado no Hemocentro Recife, um treinamento para
						os servidores da instituição sobre as mudanças promovidas e
						implantadas pela Junta Médica do Estado. O evento foi ministrado
						pela instrutora da SAD, Olga Marinho, que ainda contou com o
						auxílio do coordenador do CEFOSPE, Paulo Nunes, e do instrutor do
						IRH, Joel Lopes.</p>
					<p>Pela manhã, foi abordada a parte técnica, onde a palestrante
						informou sobre a finalidade do novo método de agendamento online,
						através do sistema SPM, facilitando a vida dos servidores, tendo
						em vista que antes o processo era presencial. “O sistema SPM
						contribuirá com a instituição na busca de promover o
						desenvolvimento profissional e a assistência integral a saúde do
						servidor, contribuindo com a sua valorização e melhoria da
						qualidade de vida, tornando-o apto a prestar um serviço público
						efetivo à sociedade”, informou Olga.</p>
					<p>Durante a tarde, o evento foi focado em treinar os
						servidores no novo sistema. Como o http://www.irhspm.pe.gov.br,
						endereço que deverá ser acessado para serviço de perícia médica no
						estado, cujo lançamento está previsto para outubro. Por enquanto,
						os servidores realizaram a prática em um site de teste. “Através
						da função agendamento do sistema SPM, os servidores poderão
						agendar seus atendimentos periciais (licenças médicas, isenção de
						imposto de renda, aposentadoria, readaptação de função, entre
						outros), tudo online e no dia e hora que eles selecionarem”,
						ressaltou a instrutora.</p>
					<p>Com o novo sistema, houve uma mudança a respeito do RO
						(relatório de ocorrência), a supervisora da Assistência Funcional,
						Rosangela Rodrigues, explica. “Se o servidor ausentar-se do
						trabalho por questões médicas de até 3 dias, o RO é obrigatório e
						continua valendo como comprovação de afastamento o seu atestado
						médico. Já a partir de 4 dias em diante, a perícia médica
						informará quantos dias o servidor irá ter de afastamento, enviando
						um e-mail para sua chefia imediata. Ness caso não será mais
						necessário RO”, afirmou.</p>

				</b:column>

			</b:container>
		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>