
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Home" href="index.xhtml" rendered="#{!loginMB.logado}"></b:navLink>
					<b:navLink value="Principal" href="logado.xhtml" rendered="#{loginMB.logado}"></b:navLink>
					<b:navLink value="Noticias" href="noticias.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>

				</b:navbarLinks>

				<div id="login">
					<h:form id="logar" styleClass="navbar-form">
						<p:growl id="growl" life="5000" />
						<h:panelGroup rendered="#{!loginMB.logado}">
							<div class="form-group">

								<b:inputText placeholder="Login"
									value="#{loginMB.doadorAux.login}" />
								<b:inputText placeholder="Senha"
									value="#{loginMB.doadorAux.senha}" />

								<b:commandButton look="danger" value="Logar" ajax="true"
									actionListener="#{loginMB.logar}" rendered="true" />
							</div>

						</h:panelGroup>



					</h:form>
				</div>
			</b:navBar>
		</div>

		<div id="contents">

			<b:container>
				<b:column col-md="1">
				</b:column>
				<b:column col-md="9">
					<h4>Hemope lança campanha para levar o hábito de doar sangue à
						vida dos jovens</h4>
				</b:column>
				<b:column col-md="2">
				</b:column>
				<b:column col-md="3">
				</b:column>
				<b:column col-md="6">
					<h:graphicImage library="noticia" name="teste5.jpg"
						style="top: 20px; left: 0px;width: 400px; height: 300px;"></h:graphicImage>
				</b:column>
				<b:column col-md="3">
				</b:column>

				<b:column col-md="12">
					<br />
					<p>Alunos da Escola Estadual Dom Bosco, em Casa Amarela, na
						Zona Norte do Recife, foram os primeiros a receber a visita de uma
						campanha que busca incluir na vida dos jovens o hábito de doar
						sangue. A iniciativa foi lançada ontem pela Fundação de
						Hematologia e Hemoterapia de Pernambuco (Hemope) na instituição de
						ensino. Além de estimular a participação, o trabalho tem como
						objetivo desmistificar concepções erradas sobre a doação.</p>
					<p>O hemocentro pernambucano pretende visitar de três a quatro
						escolas públicas por mês. Na Dom Bosco, o estudante Vitor Hugo
						Campos de Oliveira comentou que a ação esclarece sobre o ato de
						doar. “Muita gente não sabe como é feita (a doação). Essa campanha
						vai ajudar muito nesse sentido”, ressaltou o aluno de 16 anos.</p>
					<p>De acordo com o Hemope, os bancos de sangue estão em
						situação considerada estável no momento, mas a campanha Educar
						para doação de sangue tem o intuito de educar os jovens não apenas
						para doar uma vez, mas para incorporar o hábito à rotina. Yêda
						Maia, presidente da fundação, explica que a população doadora de
						sangue está envelhecendo e que é importante reunir um novo público
						manter o nível do banco. “E, com o tempo, a demanda aumenta,
						fazendo essa nova contribuição ainda mais importante”, ressaltou.</p>
					<p>Ela explica que a iniciativa surgiu a partir de uma parceria
						entre o Hemope, as secretarias da Educação e da Saúde do estado e
						o Ministério Público de Pernambuco, através de um projeto da
						Promotoria de Direitos Humanos do MPPE.</p>
					<p>Durante o lançamento da campanha, panfletos informativos
						foram entregues aos alunos com dados sobre como a doação pode ser
						feita, enfatizando critérios como idades mínima e máxima para
						doação, o intervalo entre as doações e quais documentos devem ser
						apresentados no Hemope.</p>
					<p>Uma equipe do hemocentro ficará na Escola Estadual Dom Bosco
						até amanhã, recebendo os alunos. O primeiro dia de ação, ontem,
						também foi voltado aos professores. A partir de hoje, os
						estudantes poderão fazer doações.</p>
					<p>Uma conversa trouxe esclarecimentos sobre o que pode ser
						feito com o sangue e derivados após a coleta, além dos testes que
						são realizados nas amostras antes da doação (para doenças como
						sífilis, Chagas e HIV) e a maneira através da qual os doadores são
						informados sobre possíveis resultados preocupantes.</p>
					<p>Após a apresentação, 50 professores da rede estadual
						receberam uma capacitação com representantes do hemocentro e da
						Secretaria de Educação para sensibilizar os alunos sobre o tema em
						suas respectivas aulas e disciplinas, através de trabalhos e
						conversas. “O bem mais importante é a vida e doar é contribuir
						para manter esse bem”, comentou o gestor da escola, Joel de
						Carvalho Filho.</p>


				</b:column>

			</b:container>
		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>