
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Comunidade do Sangue</title>
	<h:outputStylesheet library="css" name="principal.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="header" title="sitename">
			<h:graphicImage id="banner" library="imagens" name="logo_ext.png"></h:graphicImage>
		</div>
		<div id="mainmenusup">
			<b:navBar id="bar">
				<b:navbarLinks>
					<b:navLink value="Home" href="index.xhtml" rendered="#{!loginMB.logado}"></b:navLink>
					<b:navLink value="Principal" href="logado.xhtml" rendered="#{loginMB.logado}"></b:navLink>
					<b:navLink value="Noticias" href="noticias.xhtml"></b:navLink>
					<b:navLink value="Campanhas" href="#"></b:navLink>
					<b:navLink value="Informações" href="informacoes.xhtml"></b:navLink>

				</b:navbarLinks>

				<div id="login">
					<h:form id="logar" styleClass="navbar-form">
						<p:growl id="growl" life="5000" />
						<h:panelGroup rendered="#{!loginMB.logado}">
							<div class="form-group">

								<b:inputText placeholder="Login"
									value="#{loginMB.doadorAux.login}" />
								<b:inputText placeholder="Senha"
									value="#{loginMB.doadorAux.senha}" />

								<b:commandButton look="danger" value="Logar" ajax="true"
									actionListener="#{loginMB.logar}" rendered="true" />
							</div>

						</h:panelGroup>



					</h:form>
				</div>
			</b:navBar>
		</div>

		<div id="contents">

			<b:container>
				<b:column col-md="2">
				</b:column>
				<b:column col-md="8">
					<h4>HEMOPE DIVULGA CARTILHA DA PGE SOBRE ELEIÇÕES 2016</h4>
				</b:column>
				<b:column col-md="2">
				</b:column>
				<b:column col-md="3">
				</b:column>
				<b:column col-md="6">
					<h:graphicImage library="noticia" name="teste4.jpg"
						style="top: 20px; left: 0px;width: 400px; height: 300px;"></h:graphicImage>
				</b:column>
				<b:column col-md="3">
				</b:column>

				<b:column col-md="12">
					<br />
					<p>A Fundação Hemope, através de sua Gerência de Gestão de
						Pessoas (GGP), informa que a Procuradoria Geral de Pernambuco
						(PGE-PE) lançou uma Cartilha sobre as Eleições 2016, no qual reúne
						informações a respeito das condutas vedadas a quem trabalha no
						serviço público durante o período eleitoral. As orientações se
						baseiam na Lei Eleitoral nº 9.504/1997, Lei de Responsabilidade
						Fiscal, nº 101/2000, e na Resolução nº 23.450 do TSE, nas demais
						resoluções do TSE e na jurisprudência dos tribunais eleitorais.</p>
					<p>Para a gerente da GGP, Eulina Cisneiros, a cartilha contém
						várias informações sobre a conduta do servidor público durante as
						eleições. “Entre os temas abordados, consta na Cartilha que o
						servidor público não pode comparecer a repartição fazendo uso de
						vestimenta, adesivos ou broches que identifiquem candidatos ou
						possuam natureza eleitoral. Desta forma, fica estabelecido que o
						servidor não estacione seu veículo com qualquer tipo de propaganda
						eleitoral, tais como: adesivos, plotagens, pinturas, cartazes, no
						interior dos estacionamentos dos órgãos públicos”, disse.</p>
					<p>Ainda segundo a cartilha, existe restrição aos servidores
						públicos, que estão em atividade, de participarem de eventos
						políticos durante seu horário de trabalho. “No entanto, se o
						servidor estiver de licença, férias, ou fora de seu horário de
						expediente, poderá exercer plenamente sua cidadania e participar
						de ato político-partidário, desde que não se beneficie da função
						ou do cargo que exerce”, avisou Eulina.</p>
					<p>A Cartilha explica ainda que os e-mails oficiais devem ser
						utilizados pelos servidores públicos apenas para fins
						institucionais, não devendo ser para divulgação de material de
						campanha eleitoral, convocação de reunião de cunho político ou
						para qualquer finalidade correlata. Essa restrição se aplica
						também ao uso do telefone fixo ou celular, custeado pelo Erário,
						cotas de correspondência e reprografia, não podendo, o servidor
						público valer-se da prerrogativa do exercício da função para
						utilizar materiais e serviços em benefício de candidatura própria
						ou de outrem.</p>

				</b:column>

			</b:container>
		</div>
		<div id="footer">© Comunidadade Sangue Bom 2016</div>
	</div>
</h:body>
</html>