@CHARSET "ISO-8859-1";

* {
/* 	border: black solid 1px; */
	box-sizing: border-box;
	background-image: url("WebContent/resources/imagens/sangue 0.jpg");
}
body{
/* 	background-color: green; */
}

#dpLogin {
/* 	padding: 10px; */
/* 	margin: 20px; */
}

iframe {
	scrolling: no;
/* 	padding: 10px; */
/* 	width: 200; */
}