<html>
<body>

	<div style="background: #FFFFFF; font-family: Verdana, Arial, Tahoma; font-size: 10pt; border: 1px solid #d9d9d9; width: 450px; margin: 10px auto;">
	
	<div style="width: auto;">
		<img src="http://i67.tinypic.com/i26jyw.png" border="0"  />
			
		</div>
		<div style="background: #DDD; text-align: center; padding: 3px;">
			<strong>Informativo</strong>
		</div>
		<div style="padding: 10pt;">
			<p>
				Prezado doador(a) <strong>{{doador.nome}}</strong>
			</p>

			<p>Informamos que nosso banco de sangue esta baixo para seu tipo
				de seu sangue.</p>

			<p>Se estiver disponibilidade para doar agradecemos!</p>

			<p>Doe Sangue, Salve Vidas!</p>

			<p>Recife, {{mensagem.data}}</p>
		</div>
	</div>

<body>
</html>