/* global styles */

/*Variaveis Global*/
@minWidth : 320px;
@maxWidth : 80%;
*{
/* 	border : solid black 1px; */
}

.panelNoBorder, .panelNoBorder tr, .panelNoBorder td{
border: hidden;
border-color: white;
}

body {
 min-width @minWidth;
	max-width: @maxWidth;
	font: 85% arial, hevetica, sans-serif;
	
	}

div.container {
    min-width @minWidth;
	max-width: @maxWidth;
	height: 100%;
}

img#banner{
/*     min-width @minWidth; */
	width: 100%;
}

img#banner2{
/*     min-width @minWidth; */
	width: 100%;
}

}

#centrar {
    position:absolute;

		top:50%;
		
}
	
#login{
	position: relative;
	display: block;
	right: 1px;
	
}

.navbar-form{
	
	float: right;
}

h2 {
	color: #B52C07;
	font: 140% georgia, times, "times new roman", serif;
	}

h3 {
	color: #7d8206;
	font: 110% georgia, times, "times new roman", serif;
	}

/* container styles */

#container {	
	margin: auto;
	min-width @minWidth;
	max-width: 100%;
/* 	width: 962px; */
	
	border: 1px solid #676767;
	}



/* header styles */

#header {
/* 	height: 198px; */
/* 	width: 100%; */
min-width @minWidth;
	max-width: @maxWidth;
	border-bottom: 1px solid #fff;
	}


div#loginForm{
	
	width: 300px;
}




#mainnav li a {
	text-decoration: none;
	color: #272900;
	}

#mainnav li a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #272900;
	}

#contents {
	
/* 	width: 960px; */
	min-width @minWidth;
	max-width: @maxWidth;
	margin: auto;
	}

#cadastro {
	
	background: #f0f0f0;
	
	}

#bar{
	margin-bottom: 0px;
}

#footer {
	clear: both;
	color: #272900;
	text-align: right;
	font-size: 90%;
	background: #f0f0f0;
	padding: 5px;
	}