/*Composição do site */
body {
	 background:#888fff;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    bgcolor: #D3D3D3
   
}

.panelNoBorder, .panelNoBorder tr, .panelNoBorder td{
border: hidden;
border-color: white;
}

#site {
	width: 960px;
	margin: auto;
	
	 
}
ul{
	margin: 0px;
	padding: 0px;
		
}

li{
	list-style: none;
}

a{
	
	text-decoration: none;
}

#main{
	border: 0px solid; 
	width: 100%;
	display:inline-block;
	background-color: #ffffff;
	
}

#cadastro{
	border: 0px solid #DDDDDD;  
	font-size: 20px;
	width: 100%;
	height: 20px;
}

#navPrincipal{
	border: 0px solid #DDDDDD;  
	font-size: 20px;
	width: 100%;
	height: 200px;
}
#navAdm{
	width: 100%;
	height: 74px;
	border: 1px solid #DDDDDD; 
}
#header{
	border: 1px solid #DDDDDD;   
	width: 100%;
	height: 200px;
}
